body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}
h1 {
color: white;
text-align: center;
background: Blue;
}   

#studentForm {
    margin-bottom: 20px;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
